@import '../../../utils/_scss-variables.scss';

.signin {
  @include flex(column, _, _);
  gap: 25px;

  .inputs {
    @include flex(column, flex-start, flex-start);
    gap: 40px;
  }

  .reset {
    margin: 0;
    &::after {
      margin-top: 0;
    }
  }

  .link {
    color: $span-text-color;
    text-align: center;
  }

  .button {
    margin-top: 20px;
  }
}

.change {
  animation: 2s linear change;
}

@keyframes change {
  0% {
    transform: translate(0) scale(1);
  }
  10% {
    transform: translate(0) scale(1.05);
  }
  60% {
    transform: translate(-300px) scale(1.05);
  }
  100% {
    transform: translate(0px) scale(0.5);
    z-index: 1;
  }
}
