@import '@styles/_scss-variables.scss';

.signin {
  @include flex(column, center, center);
  gap: 25px;

  .inputs {
    width: 100%;
    margin: 15px 0;
    @include flex(column, flex-start, flex-start);
    gap: 25px;

    @media screen and (max-width: 768px) {
      gap: 16px;
      margin: 0;
    }
  }

  .password {
    font-weight: 700;
    font-family: Verdana;
  }

  .reset {
    font-size: 14px;
    margin: 0;
    &::after {
      margin-top: 0;
    }
  }

  .link {
    text-align: center;
    @media screen and (max-width: 768px) {
      @include flex(column, center, center);
      gap: 4px;
    }
  }

  .button {
    width: 100%;
  }
}
