@import '../../assets/styles/_scss-variables.scss';

.item {
  border-bottom: 1px solid $element-secondary-active-color;
}

.heading {
  @include flex(row, space-between, center);
  gap: 10px;
  padding: 16px 0;
  box-sizing: border-box;
  cursor: pointer;

  &:hover .button {
    opacity: 0.7;
  }
}

.question {
  margin: 0;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;

  @media screen and (max-width: 768px) {
    font-size: 16px;
  }
}

.button {
  transition: transform 0.3s, opacity 0.2s ease-in-out;
  &_up {
    transform: rotate(180deg);
  }
}
