@import '../../utils/_scss-variables.scss';

.signup {
  @include flex(column, _, _);
  gap: 50px;
  width: 310px;
  box-sizing: border-box;

  .inputs {
    @include flex(column, flex-start, flex-start);
    gap: 40px;
  }

  .checktext {
    @include font(12px, 15px, 400);
    margin: 0;
    width: 100%;

    .documentLink {
      color: #000;
    }
  }

  .link {
    @include font(16px, 19px, 400);
    color: $span-text-color;
    text-align: center;
    margin-top: -30px;
  }
}
