@import '../../utils/_scss-variables.scss';

.signup {
  display: flex;
  flex-direction: column;
  gap: 50px;
  width: 310px;
  box-sizing: border-box;
}

.inputs {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.link {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: $span-text-color;
  text-align: center;
  text-decoration: none;
  margin-top: -30px;
}

.button {
  background-color: transparent;
  border: none;
  color: $main-text-color;
  cursor: pointer;
}

.button:hover {
  opacity: .8;
}