@import '../../utils/_scss-variables.scss';

.signup {
  display: flex;
  flex-direction: column;
  gap: 50px;
  width: 310px;
  box-sizing: border-box;
}

.inputs {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.link {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: $span-text-color;
  text-align: center;
  text-decoration: none;
  margin-top: -30px;
}

.button {
  background-color: transparent;
  border: none;
  color: $main-text-color;
  cursor: pointer;
}

.text::after {
  content: '';
  display: block;
  margin-top: 5px;
  width: 0;
  height: 2px;
  background: #000;
  transition: width 0.3s;
}
.text:hover::after {
  width: 100%;
  transition: width 0.3s;
}
