@import '../../../utils/_scss-variables.scss';

.container {
  padding-top: 80px;
  flex: 1;
  text-align: left;
  @include flex(column, center, start);
  gap: 30px;
}

.info {
  margin-top: 26px;
  @include flex(row, start, start);
  column-gap: 132px;
  row-gap: 35px;
  flex-wrap: wrap;
}

.flex {
  @include flex(row, center, start);
  gap: 25px;
}

.text {
  max-width: 80px;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
}

.amount {
  padding: 8px 25px;
  box-sizing: border-box;
  background: #f1f1f1;
  border-radius: 10px;
  text-align: center;
}

.prices {
  @include flex(column, center, center);
}

.price {
  font-family: 'Nunito';
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
}

.price_small {
  font-size: 10px;
  line-height: 12px;
  color: #929292;
}

.preview {
  margin-top: 25px;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}

.options {
  @include flex(column, center, start);
  gap: 17px;
}
