@import '../../../utils/_scss-variables.scss';

.button {
  border: none;
  background-color: $other-button-bg-color;
  background-position: contain;
  background-repeat: no-repeat;
  cursor: pointer;
  transition: opacity 0.3s ease-in-out;

  &:hover {
    opacity: 0.6;
  }
  &_shown {
    composes: button;
    top: 8px;
    width: 23px;
    height: 16px;
    background-image: url(../../../images/icons/password-shown.svg);
  }

  &_hidden {
    composes: button;
    top: 6px;
    width: 25px;
    height: 20px;
    background-image: url(../../../images/icons/password-hidden.svg);
  }
}
