@import '../../utils/_scss-variables.scss';

.signin {
  @include flex(column, _, _);
  gap: 25px;
  width: 330px;

  .inputs {
    @include flex(column, flex-start, flex-start);
    gap: 25px;
  }

  .link {
    @include font(14px, 16px, 400);
    color: $span-text-color;
    text-align: center;
  }
}

.button {
  margin-top: 10px;
}
