@import '../../../utils/_scss-variables.scss';

.button {
  width: fit-content;
  margin: 0 auto;
  background-color: transparent;
  padding: 0;
  border: none;
  color: $main-text-color;
  @include font(16px, 19px, 400);
  cursor: pointer;
}

.text {
  color: $main-text-color;
  text-decoration: none;
  position: relative;

  &::after {
    content: '';
    position: absolute;
    display: block;
    margin-top: 2px;
    width: 0;
    height: 0.5px;
    background: $main-text-color;
    transition: width 0.3s;
  }

  &_contrast {
    color: $contrast-text-color;

    &::after {
      background: $contrast-text-color;
    }
  }

  &_secondary {
    color: $secondary-text-color;

    &::after {
      background: $secondary-text-color;
    }
  }

  &:hover::after {
    width: 100%;
  }
}
