@import '../../../utils/_scss-variables.scss';

.orders {
  flex: 1;

  &_container {
    padding-top: 80px;
    padding-bottom: 80px;
    background-color: $main-bg-color;

    text-align: left;
    @include flex(column, center, flex-start);
    gap: 30px;
  }
}

.empty {
  width: 100%;
  text-align: center;
  @include flex(column, center, center);
  gap: 30px;
}

.ufo {
  background: url('../../../images/ufo-full.png') no-repeat;
  background-position: center;
  background-size: contain;
  height: 255px;
  width: 183px;
}

.grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, 255px);
  grid-template-rows: repeat(auto-fill, 332px);
  gap: 30px;
}
