@import '../../../assets/styles/_scss-variables.scss';

.orders {
  flex: 1;

  &_container {
    padding-top: 80px;
    padding-bottom: 80px;
    background-color: $main-bg-color;

    text-align: left;
    @include flex(column, center, flex-start);
    gap: 30px;

    @media screen and (max-width: 768px) {
      padding-top: 24px;
      padding-bottom: 64px;
      margin: 0 auto;
    }
  }
}

.empty {
  width: 100%;
  text-align: center;
  @include flex(column, center, center);
  gap: 30px;
}

.ufo {
  background: url('../../../assets/images/ufo-full.png') no-repeat;
  background-position: center;
  background-size: contain;
  height: 255px;
  width: 183px;
}

.grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-template-rows: repeat(auto-fill, minmax(305px, 1fr));
  gap: 30px;

  @media screen and (max-width: 455px) {
    grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(200px, 1fr));
    gap: 22px;
  }
}
