@import '../../../assets/styles/_scss-variables.scss';

.error {
  margin-top: 5px;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 0.01em;
  color: $error-text-color;
}
