@import '../../../utils/_scss-variables.scss';

.container {
  max-width: 1440px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 0 165px;
  box-sizing: border-box;
  background-color: $main-bg-color;

  @media screen and (max-width: 1150px) {
    padding: 0 80px;
  }

  @media screen and (max-width: 768px) {
    padding: 0 40px;
  }

  @media screen and (max-width: 460px) {
    padding: 0 20px;
  }
}
