@import '../../utils/_scss-variables.scss';

.works {
  background-color: $secondary-bg-color;
}

.container {
  padding-top: 80px;
  padding-bottom: 80px;
  box-sizing: border-box;
  @include flex(column, center, center);
  gap: 25px;
  background-color: $secondary-bg-color;

  @media screen and (max-width: 768px) {
    font-size: 16px;
    padding-top: 50px;
    padding-bottom: 70px;
  }
}

.title,
.point,
.text {
  color: $contrast-text-color;
}

.point,
.text {
  width: 100%;
  margin: 0;
  line-height: 22px;
}

.point {
  @include flex(row, start, start);
  gap: 25px;
  text-align: left;

  @media screen and (max-width: 768px) {
    gap: 10px;
  }
}

.text {
  text-align: center;
}

.icon {
  width: 24px;
  height: 24px;
  // border: 1px solid $contrast-text-color;
  // border-radius: 50%;
  // padding: 2px;
}

.image {
  width: 255px;
  height: 212px;
  border-radius: 15px;
  margin: 0 auto;
  object-fit: cover;
  box-shadow: 3px 3px 10px 0px rgba(212, 73, 0, 0.1);

  &_container {
    width: 260px;
    height: 226px;
    margin: 0;
  }
}

.prev_arrow {
  transform: translate(1700%, 550%);
  @media screen and (max-width: 1400px) {
    transform: translate(calc(100vw * 0.6), 550%);
  }
  @media screen and (max-width: 1280px) {
    transform: translate(calc(100vw * 0.7), 550%);
  }
  @media screen and (max-width: 1100px) {
    transform: translate(calc(100vw * 0.7), 550%);
  }

  @media screen and (max-width: 880px) {
    transform: translate(calc(100vw * 0.65), 550%);
  }
  @media screen and (max-width: 600px) {
    display: none !important;
  }

  &::before {
    background: url(../../images/icons/arrow-simple.svg) no-repeat center;
    transform: rotate(180deg);
  }
}
.next_arrow {
  transform: translate(-65%, 550%);

  @media screen and (max-width: 600px) {
    display: none !important;
  }

  &::before {
    background: url(../../images/icons/arrow-simple.svg) no-repeat center;
  }
}

.next_arrow,
.prev_arrow {
  width: 56px;
  height: 24px;

  &::before {
    content: '';
    display: block;
    position: absolute;
    width: 56px;
    height: 24px;
    background-color: transparent;
    opacity: 1;

    @media screen and (max-width: 600px) {
      display: none;
    }
  }
  &:hover::before {
    opacity: 0.7;
  }
}

.dots {
  bottom: -36px;
}

.dots li {
  min-width: 8px;
  width: 8px;
  margin: 0 3px;
}
.dots li button::before {
  content: '';
  min-width: 7px;
  width: 7px;
  height: 7px;
  box-sizing: border-box;
  background-color: #fff;
  border-radius: 50%;
  opacity: 0.8;
}
.dots :global(li.slick-active) button::before {
  background-color: #fff;
  opacity: 1;
}

.slider {
  margin-top: 5px;
  margin-bottom: 40px;
  max-width: 1120px;
  width: 100%;
  height: 313px;

  // @media screen and (max-width: 1400px) {
  //   max-width: 920px;
  // }

  // @media screen and (max-width: 1100px) {
  //   max-width: calc(100vw - 160px);
  // }

  // @media screen and (max-width: 768px) {
  //   max-width: calc(100vw - 80px);
  // }

  @media screen and (max-width: 600px) {
    height: 213px;
  }

  // @media screen and (max-width: 460px) {
  //   max-width: calc(100vw - 40px);
  // }

  & :global(:focus) {
    outline: none;
  }
}
