@import '../../../utils/_scss-variables.scss';

.loader {
  width: 44px;
  height: 44px;
  top: 35%;
  left: 50%;
  position: absolute;
  border-radius: 50%;
  background: conic-gradient(from 86deg at 48.07% 50%, #1a3263 0deg, rgba(219, 231, 255, 0) 360deg);
  background-repeat: no-repeat;
  //background-size: 50% 51.8%;
  overflow: hidden;
  animation: 2s linear infinite rotate;

  &::before {
    content: '';
    position: absolute;
    background-color: $other-button-text-color;
    border-radius: 50%;
    width: 7px;
    height: 7px;
    right: 0;
    top: 17px;
  }

  &::after {
    content: '';
    position: absolute;
    background: $main-bg-color;
    border-radius: 50%;
    top: 15%;
    bottom: 15%;
    left: 16%;
    right: 15%;
  }
}

@keyframes rotate {
  to {
    transform: rotate(-1turn);
  }
}
