@import '../../../utils/_scss-variables.scss';

.resetpassword {
  @include flex(column, _, _);
  gap: 35px;
  box-sizing: border-box;
}

.button {
  margin-top: 10px;
  padding: 0 !important;
}

.buttons {
  margin: 0 auto;
  display: flex;
  gap: 20px;
}
