@import '@styles/_scss-variables.scss';

.resetpassword {
  @include flex(column, _, _);
  gap: 30px;
  box-sizing: border-box;
}

.text {
  margin: 0;
  text-align: center;
  font-size: 14px;
}

.button {
  padding: 0 !important;
}

.buttons {
  margin: 0 auto;
  display: flex;
  gap: 20px;

  @media screen and (max-width: 768px) {
    flex-direction: column;
    gap: 4px;
  }
}
