@import '@styles/_scss-variables.scss';

.container {
  @include flex(row, flex-start, center);
  align-items: center;
  gap: 10px;

  .input {
    opacity: 0;
    position: absolute;
    z-index: -1;

    &:checked + .label {
      background-color: $secondary-bg-color;
    }

    &:checked + .label_error {
      border-color: $main-text-color !important;
    }
  }

  .label {
    position: relative;
    display: inline-block;
    color: $popup-bg-color;
    width: 20px;
    height: 20px;
    border: 1px solid $main-text-color;
    border-radius: 3px;
    content: '';
    cursor: pointer;
    transition: border-color 0.2s ease-in-out;

    &:hover {
      border-color: $active-field-color;
    }

    &_svg {
      position: absolute;
      width: 17px;
      height: 17px;
      top: 2px;
      left: 2px;
    }

    &_error {
      border-color: $error-text-color;

      &:checked {
        border-color: $main-text-color !important;
      }
    }
  }
}
