@import '../../../utils/_scss-variables.scss';

.signup {
  @include flex(column, _, _);
  gap: 25px;
  box-sizing: border-box;
  position: relative;

  .inputs {
    margin: 15px 0 5px;
    @include flex(column, flex-start, flex-start);
    gap: 25px;
  }

  .password {
    font-weight: 700;
    font-family: Verdana;
  }

  .checktext {
    @include font(12px, 15px, 400);
    margin: 0;
    width: 100%;
    color: $span-text-color;

    .documentLink {
      color: $span-text-color;
    }
  }

  .link {
    @include font(16px, 19px, 400);

    text-align: center;
  }
}
