@import '../../../utils/_scss-variables.scss';

.signup {
  @include flex(column, _, _);
  gap: 25px;
  box-sizing: border-box;
  position: relative;

  .inputs {
    @include flex(column, flex-start, flex-start);
    gap: 25px;
  }

  .checktext {
    @include font(12px, 15px, 400);
    margin: 0;
    width: 100%;
    color: $span-text-color;

    .documentLink {
      color: $span-text-color;
    }
  }

  .link {
    @include font(16px, 19px, 400);

    text-align: center;
  }
}

.motion {
  position: absolute;
  background-color: $main-bg-color;
  width: 100%;
  height: 100%;
  z-index: 2;
}
