@import '@styles/_scss-variables.scss';

.container {
  @include flex(column, center, center);
  padding-top: 71px;
  flex: 1;

  .form {
    @include flex(column, _, _);
    gap: 50px;
    width: 310px;
    box-sizing: border-box;
  }
}
