@import '../../utils/_scss-variables.scss';

.container {
  @include flex(column, center, center);
  box-sizing: border-box;
  gap: 30px;
}

.image {
  position: relative;
  width: 255px;
  height: 263px;
}

.crop_container {
  display: block !important;
}

.media {
}
.crop_area {
  position: static !important;
  transform: none !important;
  width: 100% !important;
  height: 100% !important;
}

.zoom {
  cursor: pointer;
  color: $main-text-color;
  background-color: transparent;
}

.buttons {
  width: 100%;
  @include flex(row, space-between, center);
  gap: 20px;
}

.button {
  padding: 8px 20px;
  height: 40px;
  border-radius: 10px;
  font-size: 18px;
}

.label {
  visibility: hidden;
}
