@import '../../utils/_scss-variables.scss';

.crop {
  max-width: 500px;
}

.overlay {
  @include flex(column, center, center);
  box-sizing: border-box;
  gap: 30px;
}

.buttons {
  display: none;
}

.buttons_visible {
  width: 100%;
  @include flex(row, space-between, center);
  gap: 20px;
}

.label {
  cursor: pointer;
}

.input {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}
