@import '../../utils/_scss-variables.scss';

.container {
  @include flex(column, center, center);
  box-sizing: border-box;
  gap: 30px;
}

.image {
  position: relative;
  width: 280px;
  height: 290px;
}

.crop_container {
}

.media {
  max-width: fit-content;
  max-height: 100%;
}

.crop_area {
}

.zoom {
  cursor: pointer;
  color: $main-text-color;
  background-color: transparent;
}

.buttons {
  width: 100%;
  @include flex(row, space-between, center);
  gap: 20px;
}

.button {
  padding: 8px 20px;
  height: 40px;
  border-radius: 10px;
  font-size: 18px;
}

.label {
  visibility: hidden;
}
