@import '../../utils/_scss-variables.scss';

.container {
  padding: 70px 50px 50px;
  box-sizing: border-box;
  background-color: $main-bg-color;
  border-radius: 25px;

  .button {
    position: absolute;
    right: 24px;
    top: 19px;
    width: 16px;
    height: 16px;
  }
}
