@import '../../utils/_scss-variables.scss';

.container {
  padding: 40px 45px 50px;
  box-sizing: border-box;
  background-color: #fff;
  border-radius: 20px;

  .button {
    position: absolute;
    right: 15px;
    top: 15px;
    width: 15px;
    height: 15px;
  }
}
