@import '../../../utils/_scss-variables.scss';

.cart {
  flex: 1;

  &_container {
    padding-top: 80px;
    padding-bottom: calc(100vh / 7);
    text-align: left;
    @include flex(column, center, start);
    gap: 30px;
  }
}

.box {
  @include flex(column, center, center);
  gap: 30px;
  width: 100%;
}

.flex {
  @include flex(row, start, start);
  flex-wrap: wrap;
  gap: 30px;
  width: 100%;
}

.banner {
  max-width: 445px;
  background-color: $popup-bg-color;
  box-shadow: 3px 3px 10px rgba(26, 50, 99, 0.2);
  border-radius: 10px;
  box-sizing: border-box;
  @include flex(column, center, start);
  gap: 25px;
}

.cards {
  padding: 25px 0;
  max-width: 635px;
  padding: 25px 0;
}

.info {
  padding: 40px 30px;
}

.description {
  max-width: 200px;
}

.address {
  max-width: 230px;

  &_box {
    align-items: flex-start;
  }
}

.number {
  font-size: 20px;
  font-weight: 600;
}

.buttons {
  @include flex(column, center, center);
  gap: 10px;
  margin: 0 auto;
}
