@import '../../../assets/styles/_scss-variables.scss';

.cart {
  flex: 1;

  &_container {
    position: relative;
    padding-top: 80px;
    padding-bottom: 80px;
    text-align: left;
    @include flex(column, center, flex-start);
    gap: 30px;

    @media screen and (max-width: 768px) {
      padding-top: 24px;
      padding-bottom: 64px;
      margin: 0 auto;
    }
  }
}

.box {
  @include flex(column, center, center);
  gap: 15px;
  width: 100%;
}

.image {
  width: 300px;
  height: 230px;
  background: url('../../../assets/images/empty-cart.png') no-repeat;
  background-size: contain;
}

.flex {
  @include flex(row, flex-start, flex-start);
  flex-wrap: wrap;
  gap: 30px;
  width: 100%;
}

.banner {
  max-width: 445px;
  background-color: $popup-bg-color;
  box-shadow: 3px 3px 10px 0px rgba(212, 73, 0, 0.1);
  border-radius: 10px;
  box-sizing: border-box;
  @include flex(column, center, flex-start);
  gap: 25px;
}

.cards {
  padding: 25px 0;
  max-width: 635px;
  padding: 25px 0;
}

.info {
  padding: 40px 30px;
  top: 140px;
  position: sticky;
}

.description {
  max-width: 200px;
}

.address {
  max-width: 230px;
  min-width: 230px;
  border: none;
  padding: 0;
  margin: 0;
  resize: none;
  overflow: hidden;
  color: $main-text-color;
  background-color: $popup-bg-color;

  &:focus {
    outline: none;
  }
  &_box {
    display: flex;
    align-items: flex-start;
  }

  &_error::placeholder {
    color: $error-text-color;
  }
}

.number {
  font-size: 20px;
  font-weight: 600;
}

.buttons {
  @include flex(column, center, center);
  gap: 10px;
  margin: 0 auto;
}

.button {
  width: 255px;
  padding: 14px 15px;
}
