@import '../../utils/_scss-variables.scss';

.message__block {
  position: fixed;
  z-index: 5;
  top: 80px;
  right: $desktop-padding;
}

.message {
  z-index: 6;
  font-weight: 700;
  font-size: 28px;
  line-height: 38px;
  background-color: $success-color;
  border-radius: 20px;
  padding: 16px 48px;
  margin: 0;
  box-sizing: border-box;

  &.error {
    background-color: $error-text-color;
    opacity: 0.85;
  }
}

.message_opened {
  animation: upwards 0.35s ease-out;
}
.message_closed {
  animation: disappear 0.35s;
}

.button {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 15px !important;
  height: 15px !important;
}

@keyframes upwards {
  0% {
    transform: translateY(60px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes disappear {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
