.container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 71px 0 0;
}


.form {
  display: flex;
  flex-direction: column;
  gap: 42px;
  width: 310px;
  box-sizing: border-box;
}