@import '../../utils/_scss-variables';

.container {
  @include flex(column, center, center);
  padding: 71px 0 0;

  .form {
    @include flex(column, flex-start, flex-start);
    gap: 42px;
    width: 310px;
    box-sizing: border-box;
  }
}
