@import '../../../utils/_scss-variables.scss';

.button {
  position: absolute;
  right: 20px;
  border: none;
  background-color: $other-button-bg-color;
  background-repeat: no-repeat;
  cursor: pointer;
  transition: opacity 0.3s ease-in-out;

  &:hover {
    opacity: 0.6;
  }

  &.hidden {
    display: none;
  }
}