@import '@styles/_scss-variables.scss';

.button {
  border: none;
  background-color: $other-button-bg-color;
  background-repeat: no-repeat;
  cursor: pointer;
  &.hidden {
    display: none;
  }
}
