@import '../../../utils/_scss-variables.scss';

.button {
  background-color: transparent;
  border: none;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  cursor: pointer;
  color: $main-text-color;
  transition: opacity 0.3s ease-in-out;

  &:hover {
    opacity: 0.6;
  }

  &:focus,
  &:active {
    outline: none !important;
    box-shadow: none;
  }
}

.button_close {
  width: 20px;
  height: 20px;
  background-image: url(../../../images/icons/button-close.svg);
}

.button_person {
  width: 32px;
  height: 32px;
  @media screen and (max-width: 768px) {
    width: 24px;
    height: 24px;
  }
  &_image {
    width: 32px;
    height: 32px;

    @media screen and (max-width: 768px) {
      width: 24px;
      height: 24px;
    }
  }
}

.button_cart {
  width: 32px;
  height: 32px;
  @media screen and (max-width: 768px) {
    width: 24px;
    height: 24px;
  }
  &_image {
    width: 32px;
    height: 32px;
    @media screen and (max-width: 768px) {
      width: 24px;
      height: 24px;
    }
  }
}

.button_delete {
  width: 24px;
  height: 24px;
  background-image: url(../../../images/icons/bin.svg);
}

.button_arrow {
  min-width: 32px;
  height: 32px;
  background-color: $element-secondary-active-color;
  border-radius: 50%;
  background-image: url(../../../images/icons/arrow-small.svg);
  background-size: auto;
  transform: rotate(1deg);
}

.button_more {
  width: 19px;
  height: 19px;
  background-image: url(../../../images/icons/vertical-dots.svg);
}
