@import '../../../utils/_scss-variables.scss';

.button {
  width: 20px;
  height: 20px;
  background-color: transparent;
  border: none;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  cursor: pointer;
  transition: opacity 0.3s ease-in-out;

  &:hover {
    opacity: 0.6;
  }

  &:focus,
  &:active {
    outline: none !important;
    box-shadow: none;
  }
}

.button_close {
  width: 20px;
  height: 20px;
  background-image: url(../../../images/icons/button-close.svg);
}

.button_person {
  width: 26px;
  height: 26px;
  background-image: url(../../../images/icons/profile-icon.svg);
}

.button_cart {
  width: 26px;
  height: 26px;
  background-image: url(../../../images/icons/cart.svg);
}

.button_delete {
  width: 24px;
  height: 24px;
  background-image: url(../../../images/icons/bin.svg);
}
