@import '../../../utils/_scss-variables.scss';

.input {
  @include flex(column, _, _);
  gap: 10px;
  width: 100%;
  position: relative;
  color: $main-text-color;

  .link {
    height: 14px;
    align-self: flex-end;
  }

  .button {
    @include font(14px, 16px, 400);
  }

  .border {
    border: 1px solid #78787a;
    border-radius: 15px;
    padding: 0 0 0 20px;
    height: 38px;
    @include flex(_, _, center);
    position: relative;
    transform: opacity 500ms;

    .label {
      user-select: none;
      @include font(14px, 16px, 400);
      color: $main-text-color;
      @include flex(row, space-between, _);
      align-items: center;
      opacity: 0;
    }

    &_error {
      border: 1px solid $error-text-color;
    }

    .field {
      border: none;
      outline: none;
      width: 100%;
      @include font(14px, 16px, 400);
      color: $main-text-color;
      background-color: transparent;

      &:focus::placeholder {
        color: transparent;
      }
      &:focus {
        ~ {
          .label {
            opacity: 1;
            position: absolute;
            top: -10px;
            padding: 0 3px;
            background-color: $main-bg-color;
          }
        }
      }

      &:not(:placeholder-shown) {
        ~ {
          .label {
            opacity: 1;
            position: absolute;
            top: -10px;
            padding: 0 3px;
            background-color: $main-bg-color;
          }
        }
      }

      &::placeholder {
        opacity: 0.4;
      }
    }
  }

  .error {
    @include font(14px, 17px, 400);
    color: $error-text-color;
    padding: 0 0 0 20px;
    position: absolute;
    bottom: -22px;
  }
}

.icon_show {
  bottom: 8px;
  width: 23px;
  height: 16px;
}

.icon_hidden {
  bottom: 6px;
  width: 25px;
  height: 20px;
}

input::-ms-reveal {
  display: none;
}

input:-webkit-autofill {
  -webkit-background-clip: text;
  -webkit-text-fill-color: $main-text-color;
}
