@import '../../../utils/_scss-variables.scss';

.input {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  position: relative;
  color: $main-text-color;
}

input:-webkit-autofill {
  -webkit-background-clip: text;
  -webkit-text-fill-color: $main-text-color;
}

.label {
  user-select: none;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.link {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-decoration: none;
  color: rgba(0, 0, 0, 1);
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.link:hover {
  color: rgba(0, 0, 0, 0.7);
}

.border {
  border: 1px solid #000;
  border-radius: 5px;
  padding: 0 0 0 20px;
  height: 30px;
  display: flex;
  align-items: center;
}

.border_error {
  border: 1px solid $error-text-color;
  border-radius: 5px;
  padding: 0 0 0 20px;
  height: 30px;
  display: flex;
  align-items: center;
}

.field {
  border: none;
  outline: none;
  width: 100%;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #000;
  background-color: transparent;
}

.field_error {
  border: none;
  outline: none;
  width: 100%;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: $error-text-color;
  background-color: transparent;
}

.field::placeholder {
  opacity: 0.4;
}

.error {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: $error-text-color;
  padding: 0 0 0 20px;
  position: absolute;
  bottom: -22px;
}
