@import '../../../utils/_scss-variables.scss';

.input {
  @include flex(column, _, _);
  gap: 10px;
  width: 100%;
  position: relative;
  color: $main-text-color;

  .label {
    user-select: none;
    @include font(20px, 24px, 400);
    color: rgba(0, 0, 0, 0.7);
    @include flex(row, space-between, _);
    align-items: center;

    .link {
      @include font(16px, 19px, 400);
      height: 19px;
    }
  }

  .border {
    border: 1px solid #000;
    border-radius: 5px;
    padding: 0 0 0 20px;
    height: 30px;
    @include flex(_, _, center);

    &_error {
      border: 1px solid $error-text-color;
    }

    .field {
      border: none;
      outline: none;
      width: 100%;
      @include font(16px, 19px, 400);
      color: #000;
      background-color: transparent;

      &_error {
      }

      &::placeholder {
        opacity: 0.4;
      }
    }
  }

  .error {
    @include font(14px, 17px, 400);
    color: $error-text-color;
    padding: 0 0 0 20px;
    position: absolute;
    bottom: -22px;
  }
}

input::-ms-reveal {
  display: none;
}

input:-webkit-autofill {
  -webkit-background-clip: text;
  -webkit-text-fill-color: $main-text-color;
}
