@import '../../utils/_scss-variables.scss';
.container {
  display: grid;
  grid-auto-flow: row dense;
  background-color: $element-color;
}

.border {
  box-sizing: border-box;
  background-color: #fff;

  &_rounded-square {
    border-radius: 5px;
  }

  &_circle {
    border-radius: 50%;
  }
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;

  &_rounded-square {
    border-radius: 5px;
  }

  &_circle {
    border-radius: 50%;
  }
}
