@import '../../utils/_scss-variables.scss';
.container {
  display: grid;
  grid-template-columns: repeat(5, 50px);
  grid-template-rows: repeat(7, 50px);
  background-color: $secondary-bg-color;
  width: 402px;
  height: 568px;
  padding: 50px 30px;
  box-sizing: border-box;
  gap: 20px 22px;
}

.image {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border: 2px;

  &_rounded-square {
    border-radius: 5px;
  }

  &_circle {
    border-radius: 50%;
  }
}
