@import '../../utils/_scss-variables.scss';

.order {
  min-width: 180px;
  max-width: 255px;
  @include flex(column, flex-start, flex-start);
  gap: 25px;
  cursor: pointer;
  position: relative;

  &::after {
    content: '';
    position: absolute;
    width: 100%;
    height: calc(100% + 10px);
    border-radius: 20px;
    background-color: $element-secondary-active-color;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }

  &:hover::after {
    opacity: 0.2;
  }

  @media screen and (max-width: 455px) {
    min-width: 140px;
    max-width: 200px;
    gap: 16px;
  }
}

.border {
  box-sizing: border-box;
  background-color: #fff;
  justify-self: center;
  margin: 0 auto;

  &_rounded_square {
    border-radius: 10px;
  }

  &_circle {
    border-radius: 50%;
  }
}

.image {
  &_box {
    width: 100%;
    height: 255px;
    background-color: $picture-bg-color;
    border-radius: 20px;
    padding: 20px;
    box-sizing: border-box;
    @include flex(column, center, center);

    @media screen and (max-width: 455px) {
      height: 150px;
    }
  }
}

.info {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 15px;
  padding-left: 8px;

  @media screen and (max-width: 455px) {
    row-gap: 8px;
    padding-left: 4px;
  }
}

.cost {
  font-size: 20px;
  font-weight: 600;

  @media screen and (max-width: 455px) {
    font-size: 16px;
  }
}

.amount {
  justify-self: center;

  @media screen and (max-width: 455px) {
    font-size: 14px;
    justify-self: flex-end;
  }
}

.status {
  grid-column: 1/4;
}

.button {
  justify-self: flex-end;
}

.motion {
  position: absolute;
  right: -15px;
  top: 300px;
  z-index: 3;
}

.badge {
  position: absolute;
  background-color: $contrast-color;
  top: 15px;
  right: 15px;
  width: fit-content;
  border-radius: 6px;
  font-size: 14px;
  text-align: center;
  font-weight: 500;
  letter-spacing: 1.1px;
  line-height: 128.7%;
  padding: 5px 10px;
  color: $contrast-text-color;
  z-index: 2;
}
