@import '../../utils/_scss-variables.scss';

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  @include flex(column, center, center);
  z-index: 4;
  width: 100vw;
  height: 100vh;

  background-color: rgba(0, 0, 0, 0.4);

  .background {
    width: 100vw;
    height: 100vh;
    position: fixed;
  }

  .popup {
    position: relative;
    z-index: 4;
  }
}

.container {
  padding: 70px 50px 50px;
  box-sizing: border-box;
  background-color: $popup-bg-color;
  border-radius: 25px;
  max-height: 95vh;
  overflow-y: scroll !important;

  @media screen and (max-width: 768px) {
    padding: 30px 16px 40px;
  }

  &::-webkit-scrollbar {
    display: none;
  }

  .button {
    position: absolute;
    right: 25px;
    top: 25px;
    width: 24px;
    height: 24px;

    @media screen and (max-width: 768px) {
      right: 16px;
      top: 12px;
      width: 22px;
      height: 22px;
    }
  }
}
