@import '../../utils/_scss-variables.scss';

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  @include flex(column, center, center);
  z-index: 4;
  width: 100vw;
  min-height: 100vh;
  height: 100dvh;

  background-color: rgba(0, 0, 0, 0.4);

  .background {
    width: 100vw;
    min-height: 100vh;
    height: 100dvh;
    position: fixed;
  }

  .popup {
    position: relative;
    z-index: 4;
  }
}

.container {
  padding: 70px 50px 50px;
  box-sizing: border-box;
  background-color: $popup-bg-color;
  border-radius: 25px;
  max-height: 95vh;
  overflow-y: scroll !important;
  -ms-overflow-style: none;
  scrollbar-width: none;

  @media screen and (max-width: 768px) {
    padding: 40px 20px 40px;
  }

  &::-webkit-scrollbar {
    display: none;
  }

  .button {
    width: 24px;
    height: 24px;
    @media screen and (max-width: 768px) {
      width: 18px;
      height: 18px;
    }

    &_box {
      position: absolute;
      right: 25px;
      top: 25px;
      width: 24px;
      height: 24px;

      @media screen and (max-width: 768px) {
        right: 16px;
        top: 12px;
        @include flex(column, center, center);
      }
    }
  }
}
