.overlay {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
  width: 100vw;
  height: 100vh;
}
.background {
  width: 100vw;
  height: 100vh;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.4);
}
.popup {
  position: relative;
  z-index: 4;
}
