@import '../../utils/_scss-variables.scss';

.container {
  padding-top: 80px;
  padding-bottom: 80px;
  box-sizing: border-box;
  @include flex(column, center, center);
  gap: 45px;
}

.list {
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
  @include flex(column, center, center);
  gap: 35px;
}

.step {
  @include flex(row, start, start);
  gap: 35px;
}

.content {
  max-width: 500px;
  @include flex(column, start, start);
}

.title {
  font-weight: 500;
}

.image {
  width: 500px;
  max-height: 260px;
  object-fit: contain;
}
