@import '../../../utils/_scss-variables.scss';

.button {
  width: 109px;
  height: 44px;
  border: 1px solid $other-button-border-color;
  border-radius: 20px;
  background-color: $other-button-bg-color;
  cursor: pointer;
  @include font(20px, 24px, 400);
  color: $other-button-text-color;
  transition: opacity .3s ease-in-out;

  &:hover {
    opacity: .6;
  }
}
