@import '../../utils/_scss-variables.scss';

.mainPage {
  padding: 80px $desktop-padding;
  display: flex;
  justify-content: space-between;
}

.title {
  font-family: 'Play', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 60px;
  line-height: 73px;
  margin: 0 0 30px;
}

.description {
  font-family: 'Play', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 48px;
  margin: 0 0 60px;
}

.img {
  width: auto;
  height: 296px;
}
