@import '../../utils/_scss-variables.scss';

.mainPage {
  padding: 80px $desktop-padding;
  @include flex(row, space-between, flex-start);

  .title {
    font-family: 'Play', sans-serif;
    font-style: normal;
    @include font(60px, 73px, 400);
    margin: 0 0 30px;
  }

  .description {
    font-style: normal;
    @include font(40px, 48px, 400);
    margin: 0 0 60px;
  }

  .img {
    width: auto;
    height: 296px;
  }

  .button {
    padding: 16px 45px;
    height: 55px;
    border-radius: 20px;
  }
}
