@import '../../../utils/scss-variables.scss';

.button {
  padding: 16px 45px;
  box-sizing: border-box;
  height: 55px;
  border-radius: 20px;
  text-align: center;
  @include font(20px, 24px, 400);
  cursor: pointer;
  transition: opacity 0.3s, background-color 0.3s ease-in-out;

  &:hover {
    opacity: 0.6;
  }
  &:hover:disabled {
    opacity: 1;
  }
  &:disabled {
    cursor: auto;
  }
}

.button_filled {
  background-color: $regular-button-bg-color;
  color: $regular-button-text-color;
  border: none;
  &:disabled {
    background-color: #d9d9d9;
  }
}

.button_transparent {
  padding: 10px 50px;
  height: 45px;
  border-radius: 15px;
  background-color: $other-button-bg-color;
  color: $other-button-text-color;
  border: 1px solid $other-button-text-color;
  &:disabled {
    border-color: #d9d9d9;
  }
}

.button_no-border {
  background: transparent;
  @include font(14px, 16px, 400);
  color: $main-bg-color;
  text-align: left;
  padding: 0;
  height: 16px;
  border: none;
}
