@import '../../../utils/scss-variables.scss';

.button {
  padding: 14px 70.5px;
  box-sizing: border-box;
  height: 50px;
  border-radius: 10px;
  text-align: center;
  @include font(18px, 21px, 400);
  cursor: pointer;
  transition: opacity 0.3s, background-color 0.3s ease-in-out;

  &:hover {
    opacity: 0.9;
  }

  &:hover:disabled {
    opacity: 0.7;
  }
  &:disabled {
    cursor: auto;
    opacity: 0.7;
  }

  position: relative;
}

.button_filled {
  background-color: $regular-button-bg-color;
  color: $regular-button-text-color;
  border: none;
  :focus {
    background-color: $clicked-button-color;
  }
}
.button_contrast {
  background-color: $contrast-color;
}

.button_transparent {
  padding: 14px 35px;
  background-color: $other-button-bg-color;
  color: $other-button-text-color;
  border: 1px solid $other-button-text-color;

  :focus {
    border-color: $clicked-button-color;
  }
}

.button_no-border {
  background: transparent;
  @include font(16px, 19px, 500);
  color: $main-text-color;
  text-align: left;
  padding: 0;
  height: 16px;
  border: none;
}

.loading {
  opacity: 1;
  color: transparent;
}

.loader {
  position: absolute;
  width: 25px;
  height: 25px;
  top: 26%;
  left: 45%;
  border-radius: 50%;
  animation: 2s linear infinite rotate;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
