@import '../../utils/_scss-variables.scss';

.menu {
  max-width: 255px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 25px 40px 45px;
  background: $popup-bg-color;
  box-shadow: 3px 3px 10px rgba(32, 62, 124, 0.2);
  border-radius: 10px;
  position: absolute;
  top: 90px;
  right: 165px;
  z-index: 1;

  .profile {
    display: flex;
    align-items: center;
    text-decoration: none;
  }

  .avatar {
    background-color: $element-color;
    width: 64px;
    height: 64px;
    border-radius: 32px;
  }

  .name {
    padding-left: 15px;
    color: $main-text-color;
  }

  .button {
    margin-top: 25px;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    padding: 14px 17px;
  }

  .list {
    margin: 0;
    padding: 0;
    margin-top: 40px;
  }

  .list li {
    list-style-type: none;
    height: 19px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
    letter-spacing: -0.01em;
    color: $main-text-color;
    padding-bottom: 20px;
    padding-left: 10px;
    cursor: pointer;
  }

  .list :last-child {
    padding-bottom: 0;
  }
}
