@import '@styles/_scss-variables.scss';

.menu {
  max-width: 300px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 25px 40px 45px;
  background: $popup-bg-color;
  box-shadow: 3px 3px 10px 0px rgba(212, 73, 0, 0.1);
  border-radius: 10px;
  position: absolute;
  top: 90px;
  right: $desktop-padding - 75px;
  z-index: 1;

  @media screen and (max-width: 768px) {
    top: 65px;
  }

  @media screen and (max-width: 1280px) {
    right: $tablet-padding - 25px;
  }

  @media screen and (max-width: 768px) {
    right: 10px;
  }

  .profile {
    display: flex;
    align-items: center;
    text-decoration: none;
    max-width: 300px;

    &:hover .name {
      color: #929292;
    }

    &:hover .avatar {
      opacity: 0.85;
    }
  }

  .avatar {
    background-color: $element-color;
    min-width: 64px;
    width: 64px;
    height: 64px;
    border-radius: 32px;
    transition: opacity 0.2s ease-in-out;
  }

  .image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 32px;
  }

  .namebox {
    @include flex(column, flex-start, flex-start);
  }

  .name {
    max-width: 130px;
    padding-left: 15px;
    color: $main-text-color;
    transition: color 0.2s ease-in-out;

    &_overflow {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }

  .link,
  .name {
    font-size: 16px;
  }

  .button {
    margin-top: 25px;
    font-size: 16px;
    padding: 14px 15px;
  }

  .list {
    margin: 0;
    padding: 0;
    margin-top: 30px;
  }

  .list li {
    list-style-type: none;
    height: 19px;
    padding-bottom: 20px;
    padding-left: 10px;
    cursor: pointer;
  }

  .list :last-child {
    padding-bottom: 0;
  }
}

.badge {
  position: absolute;
  background-color: $contrast-color;
  bottom: 5px;
  right: -18px;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  font-size: 13px;
  text-align: center;
  font-weight: 500;
  line-height: 128.7%;
  color: $contrast-text-color;
  z-index: 6;
}
