@import '@styles/_scss-variables.scss';

.container {
  min-height: calc(100vh - 100px);
  padding-bottom: calc(100vh / 7);
  box-sizing: border-box;
  flex: 1;
  overflow: hidden;

  @include flex(row, center, center);
  gap: 50px;

  @media screen and (max-width: 1010px) {
    min-height: calc(100vh - 80px);
    min-height: calc(100svh - 80px);
    flex-direction: column-reverse;
    padding-bottom: 40px;
    gap: 10px;
  }
}
.section {
  margin-top: 90px;
  @media screen and (max-width: 1010px) {
    margin-top: 10px;
    @include flex(column, center, center);
    text-align: center;
  }
  @media screen and (max-width: 768px) {
    margin-top: 5px;
  }
}
.title {
  font-family: Sen;
  @include font(48px, 52px, 700);
  letter-spacing: 0.48px;
  margin: 0 0 15px;

  @media screen and (max-width: 560px) {
    margin-bottom: 12px;
  }
}

.description {
  max-width: 445px;
  @include font(24px, 24px, 500);
  margin: 0 0 52px;

  @media screen and (max-width: 1010px) {
    margin-bottom: 28px;
  }
  @media screen and (max-width: 560px) {
    font-size: 16px;
  }
}

.button {
  @media screen and (max-width: 420px) {
    width: 100%;
    padding: 14px 10px;
  }
}

.images {
  width: 100%;
  max-width: 666px;
  height: 446px;
  position: relative;
  margin: 45px  auto 0;

  @media screen and (max-width: 1280px) {
    max-width: 470px;
    height: 430px;
  }

  @media screen and (max-width: 560px) {
    max-width: 315px;
    height: 330px;
  }
}

.image {
  position: absolute;
  object-fit: contain;
  max-height: 222px;
  max-width: 317px;

  &:first-child {
    top: 45px;
    left: 335px ;
    transform: rotate(3deg) !important;
  }

  &:nth-child(2) {
    top: 25px;
    left: 180px;
    transform: rotate(-6deg) !important;
  }

  &:nth-child(3) {
    top: 205px;
    left: 170px;
    transform: rotate(0deg) !important;
  }

  &:nth-child(4) {
    top: 120px;
    left: 35px;
    transform: rotate(-10deg) !important;
  }

   &:nth-child(5) {
    top: 220px;
    left: 385px;
    transform: rotate(0deg) !important;
  }

  @media screen and (max-width: 1280px) {
    &:first-child {
      left: 250px;
    }

    &:nth-child(2) {
      left: 110px;
    }

    &:nth-child(3) {
      top: 205px;
      left: 90px;
      width: 290px;
    }

    &:nth-child(4) {
      top: 90px;
      left: -36px;
    }

    &:nth-child(5) {
      top: 210px;
      left: 295px;
      width: 195px;
    }
  }

  @media screen and (max-width: 560px) {
    &:first-child {
      top: 15px;
      left: 140px;
      width: 140px;
    }

    &:nth-child(2) {
      top: 5px;
      left: 50px;
      width: 135px;
    }

    &:nth-child(3) {
      top: 140px;
      left: 30px;
      width: 220px;
      transform: rotate(-18deg) !important;
    }

    &:nth-child(4) {
      top: 50px;
      left: -30px;
      width: 150px;
    }

     &:nth-child(5) {
      top: 130px;
      left: 190px;
      width: 130px;
      transform: rotate(0deg) !important;
    }
  }
}

.star {
  position: absolute;

   &:nth-child(6) {
    width: 59px !important;
    height: 70px !important;
    top: -40px;
    left: 175px;
    transform: rotate(3deg) !important;
  }

  &:nth-child(7) {
    width: 41px !important;
    height: 49px !important;
    top: 95px;
    left: 50px;
    transform: rotate(46deg) !important;
  }

  &:nth-child(8) {
    width: 62px !important;
    height: 74px !important;
    top: 355px;
    left: 70px;
    transform: rotate(0deg) !important;
  }

  &:nth-child(9) {
    width: 41px !important;
    height: 49px !important;
    top: 435px;
    left: 440px;
    transform: rotate(-10deg) !important;
  }

   &:nth-child(10) {
    width: 94px !important;
    height: 113px !important;
    top: 60px;
    left: 575px;
    transform: rotate(50deg) !important;
  }

  @media screen and (max-width: 1280px) {

  &:nth-child(6) {
    width: 59px !important;
    height: 70px !important;
    top: -50px;
    left: 115px;
  }

  &:nth-child(7) {
    width: 41px !important;
    height: 49px !important;
    top: 55px;
    left: 0px;
  }

  &:nth-child(8) {
    width: 62px !important;
    height: 74px !important;
    top: 335px;
    left: 45px;
  }

  &:nth-child(9) {
    width: 41px !important;
    height: 49px !important;
    top: 375px;
    left: 330px;

  }
 &:nth-child(10) {
    width: 60px !important;
    height: 80px !important;
    top: 60px;
    left: 445px;
  }
  }

  @media screen and (max-width: 560px) {
  &:nth-child(6) {
    width: 24px !important;
    height: 28px !important;
    top: -20px;
    left: 55px;
  }

  &:nth-child(7) {
    width: 35px !important;
    height: 41px !important;
    top: 25px;
    left: -10px;
  }

  &:nth-child(8) {
    width: 31px !important;
    height: 37px !important;
    top: 205px;
    left: -15px;
  }

  &:nth-child(9) {
    width: 22px !important;
    height: 26px !important;
    top: 245px;
    left: 200px;

  }
 &:nth-child(10) {
    width: 50px !important;
    height: 60px !important;
    top: 75px;
    left: 265px;
  }
  }
}