@import '../../utils/_scss-variables.scss';

.container {
  min-height: calc(100vh - 100px);
  padding-bottom: calc(100vh / 7);
  box-sizing: border-box;
  flex: 1;

  @include flex(row, center, center);
  gap: 50px;

  @media screen and (max-width: 1010px) {
    flex-direction: column-reverse;
    gap: 10px;
  }
}
.section {
  margin-top: 90px;
}
.title {
  font-family: Sen;
  @include font(48px, 65px, 700);
  letter-spacing: 0.48px;
  margin: 0 0 30px;
}

.description {
  max-width: 445px;
  @include font(24px, 24px, 500);
  margin: 0 0 60px;
}

.links {
  margin: 45px auto 0 8px;
  display: flex;
  gap: 20px;
}

.link {
  width: fit-content;
  margin: 0;
  font-size: 18px;
}

.images {
  min-width: 595px;
  min-height: 500px;
  position: relative;
  margin: 0 auto;
}

.image {
  position: absolute;
}
