@import '../../../utils/_scss-variables.scss';

.container {
  padding: 0 80px 30px;
  box-sizing: border-box;
  @include flex(column, center, center);
  gap: 25px;
  background: $popup-bg-color;
}

.title {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  @include flex(row, center, center);
  gap: 10px;
  max-width: 545px;
}

.text {
  margin: 0;
  max-width: 545px;
  font-size: 14px;
  font-weight: 400;
}

.block {
  max-width: 545px;
  display: grid;
  grid-template-columns: 1fr 150px;
  grid-template-rows: 1fr 1fr;
  column-gap: 15px;
}

.buttons {
  @include flex(column, center, center);
  gap: 10px;
  grid-column: 2/2;
  grid-row: 1/3;
}

.button {
  width: 150px;
  height: 42px;
  padding: 5px 15px;
  font-size: 16px;
}

.prev_arrow {
  transform: translate(-50%, -50%);
  &::before {
    background: url(../../../images/icons/arrow-round.svg) no-repeat center;
  }
}
.next_arrow {
  transform: translate(50%, -50%);
  &::before {
    background: url(../../../images/icons/arrow-round.svg) no-repeat center;
    transform: rotate(180deg);
  }
}

.next_arrow,
.prev_arrow {
  width: 42px;
  height: 42px;
  border-radius: 40px;

  &::before {
    content: '';
    display: block;
    position: absolute;
    width: 42px;
    height: 42px;
    border-radius: 40px;
    background-color: transparent;
    opacity: 1;
  }
  &:hover::before {
    opacity: 0.7;
  }
}

.paging {
  bottom: -45px;

  & li {
    display: none;
  }

  & :global(li.slick-active) {
    display: inline;
  }
}

.paging .page_numbers {
  font-weight: 400;
  font-size: 16px;
  cursor: auto;
}

.slider {
  max-width: 600px;
  max-height: 850px;

  & :global(.slick-disabled::before) {
    cursor: auto;
    opacity: 0.25;
  }
}
