@import '../../../utils/_scss-variables.scss';

.container {
  @include flex(column, _, _);
  width: 330px;
  gap: 25px;
}

.image {
  width: 100%;
  max-height: 228px;
  border-radius: 20px;
  margin-bottom: 25px;
  object-fit: cover;
}
