@import '../../utils/_scss-variables.scss';

.header {
  height: 70px;
  padding: 80px $desktop-padding 0;
  top: 0;
  background-color: $main-bg-color;
  @include flex(row, space-between, center);

  .logo {
    text-decoration: none;
    color: $main-text-color;
    font-family: 'Nunito';
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    display: flex;
    align-items: center;
    gap: 10px;

    &_image {
      width: 96px;
      height: 96px;
    }
  }
}

.motion {
  z-index: 10;
}
