@import '../../utils/_scss-variables.scss';

.header {
  height: 114px;
  top: 0;
  position: sticky;
  z-index: 4;

  &_border {
    border-radius: 0px 0px 10px 10px;
    box-shadow: 3px 3px 5px 0px rgba(212, 73, 0, 0.1);
  }

  &_bar {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    background-color: $contrast-color;
    opacity: 0;
    z-index: 5;
  }

  &_container {
    @include flex(row, space-between, center);
    position: relative;
  }

  .logo {
    text-decoration: none;
    color: $main-text-color;
    font-family: 'Sen';
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    display: flex;
    align-items: center;
    gap: 10px;

    &_image {
      width: 96px;
      height: 96px;
    }
  }

  .buttons {
    display: flex;
    gap: 25px;
  }

  .cart {
    position: relative;
    height: fit-content;
    cursor: pointer;
  }

  .badge {
    position: absolute;
    background-color: $contrast-color;
    bottom: 4px;
    left: 0;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    font-size: 13px;
    text-align: center;
    font-weight: 500;
    line-height: 128.7%;
    color: $contrast-text-color;
    z-index: 6;
  }
}

.motion {
  z-index: 10;
}
