@import '../../utils/_scss-variables.scss';

.resetpassword {
  @include flex(column, flex-start, flex-start);
  gap: 40px;
  width: 310px;
  box-sizing: border-box;

  .button {
    width: max-content;
    margin: 0 auto;
    background-color: transparent;
    border: none;
    color: $main-text-color;
    cursor: pointer;

    &_text::after {
      content: '';
      display: block;
      margin-top: 5px;
      width: 0;
      height: 2px;
      background: #000;
      transition: width 0.3s;
    }

    &_text:hover::after {
      width: 100%;
      transition: width 0.3s;
    }
  }
}


