@import '../../../utils/_scss-variables.scss';

.input {
  background-color: transparent;
  border: 1px solid #929292;
  border-radius: 15px;
  padding: 11px 15px;
  box-sizing: border-box;
  outline: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #333;

  &.size {
    padding: 5px 0;
    width: 76px;
    text-align: center;
    border-radius: 8px;
    border: 1px solid #333;
    font-size: 14px;
    line-height: 16px;
    position: relative;
    color: #929292;
  }

  &.amount {
    padding: 5px 0;
    width: 60px;
    text-align: center;
    border-radius: 8px;
    border: 1px solid #333;
    font-size: 14px;
    line-height: 16px;
    position: relative;
    color: #929292;
  }

  &::placeholder {
    color: #929292;
  }

  &.password {
    border: none;
  }

  &.profile {
    border: none;
    border-bottom: 2px solid #929292;
    border-radius: 0;
    padding: 4px 5px;

    &.error {
      border-color: $error-text-color;
    }
  }

  &.input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 50px #fff inset;
    -webkit-text-fill-color: #333;
  }

  &:hover {
    border-color: $element-active-color;
  }

  &:focus {
    border-color: $element-active-color;
  }

  &.error {
    border-color: $error-text-color;
  }
}
