$main-bg-color: #fff;
$secondary-bg-color: #d9d9d9;
$desktop-padding: 165px;

$main-text-color: #000;
$main-text-desktop-size: 20px;
$secondary-text-desktop-size: 16px;
$sub-text-desktop-size: 14px;
$span-text-color: #414141;
$placeholder-text-color: rgba(0, 0, 0, 0.4);

$regular-button-bg-color: #000;
$regular-button-text-color: #fff;
$other-button-bg-color: transparent;
$other-button-text-color: #000;
$other-button-border-color: #000;

$error-text-color: #d34d46;
$success-color: #c7f2c6;
