@import '../../assets/styles/_scss-variables.scss';

.border {
  box-sizing: border-box;
  background-color: #fff;
  box-shadow: 1px 1px 4px 0px rgba(105, 37, 1, 0.2);
  cursor: pointer;

  &_rounded_square {
    border-radius: 10px;
  }

  &_circle {
    border-radius: 50%;
  }
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;

  &_rounded_square {
    border-radius: 10px;
  }

  &_circle {
    border-radius: 50%;
  }
}

.no_shadow {
  box-shadow: none;
}

.empty {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  background-color: $element-color;
  box-shadow: none;
}
