@import '../../../utils/scss-variables';
.tooltip {
  position: relative;
  display: inline-flex;
  z-index: 2;
}

.container {
  @include flex(row, center, center);
  position: absolute;
  top: calc(100% - 1px);
  bottom: unset;
  margin-left: 0;
  margin-right: auto;
  max-width: 242px;
  width: max-content;
}

.content {
  @include font(12px, 14px, 400);
  position: relative;
  padding: 10px;
  color: $main-text-color;
  background-color: $popup-bg-color;
  border-radius: 10px;
  box-shadow: 3px 3px 10px rgba(45, 56, 68, 0.25);
}

.icon {
  width: 19px;
  height: 19px;
  border-radius: 50%;
  padding: 2px;
  box-sizing: border-box;
  font-size: 11px;
  color: $main-text-color;
  text-align: center;
  background-color: $element-color;
  &:hover {
    background-color: $element-active-color;
  }
}
