@import '../../../utils/_scss-variables.scss';

.container {
  @include flex(column, start, start);
  gap: 25px;
}

.id {
  font-weight: 500;
}

.content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 280px 1fr;
  align-items: flex-start;
  gap: 20px;
}

.info {
  padding: 0 0 0 10px;
  margin: 0;
  @include flex(column, start, start);
  gap: 10px;

  &_item {
    list-style-type: none;
  }
}

.carousel {
  margin-top: -30px;
}

.button {
  &:first-child {
    margin-top: 15px;
  }
}

.delivery {
  @include flex(column, start, start);
  gap: 20px;
  grid-row: 1 / 3;
  grid-column: 2/3;
}

.statuses {
  padding: 0;
  margin: 0;
  @include flex(column, start, start);
  gap: 20px;
}

.status {
  list-style: none;
  @include flex(row, start, start);
  gap: 12px;

  &_title {
    font-size: 18px;
    font-weight: 500;
  }

  &:before {
    content: '';
    border-radius: 50%;
    min-width: 9px;
    height: 9px;
    background-color: $element-active-color;
    margin-top: 4px;
  }
}

.flex {
  @include flex(column, start, start);
  gap: 3px;
}

.date {
  font-size: 14px;
}
