@import '../../../utils/_scss-variables.scss';

.container {
  box-sizing: border-box;
  border: 1px solid $element-active-color;
}

.images {
  display: grid;
  grid-auto-flow: row dense;
  gap: 0;
}

.image {
  background-color: $secondary-bg-color;

  &_rounded-square {
    border-radius: 15px;
  }

  &_circle {
    border-radius: 50%;
  }
}

.border {
  display: flex;
  align-items: center;
  justify-content: center;
  outline: 1px solid $contrast-color;
  box-sizing: border-box;

  &_rounded-square {
    border-radius: 15px;
  }

  &_circle {
    border-radius: 50%;
  }
}
