@import '../../utils/_scss-variables.scss';

.container {
  width: 255px;
  min-width: 255px;
  height: 262px;
  border-radius: 10px;
  background-color: $element-active-color;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.content {
  width: 201px;
  text-align: center;
}

.header {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}

.text {
  font-weight: 400;
  font-size: 10px;
  line-height: 11px;
}

.input {
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

.dnd {
  width: 100%;
  height: 100%;
}

.image {
  width: 255px;
  min-width: 255px;
  height: 262px;
  object-fit: cover;
  border-radius: 10px;
}

.text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 201px;

  .main {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
  }

  .sub {
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
  }
}
