@import '@styles/_scss-variables.scss';

.footer {
  position: relative;
  background-color: $secondary-bg-color;
  padding-top: 55px;
  padding-bottom: 82px;
  box-sizing: border-box;

  @media screen and (max-width: 768px) {
    padding-top: 32px;
    padding-bottom: 56px;
  }

  &_container {
    @include flex(row, flex-start, flex-start);
    column-gap: 45px;
    row-gap: 35px;
    flex-wrap: wrap;
    background-color: $secondary-bg-color;
    color: $contrast-text-color;
  }

  .logo {
    &_image {
      width: 96px;
      height: 96px;
    }
  }
}

.main {
  max-width: 160px;
  margin-right: 80px;
  @include flex(column, flex-start, flex-start);

  @media screen and (max-width: 768px) {
    max-width: 250px;
    flex-direction: row;
    gap: 20px;
  }
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
  @include flex(column, _, _);
  gap: 17px;
}

.items {
  @include flex(row, flex-start, center);
  gap: 10px;
}

.item {
  @include flex(row, flex-start, center);
  gap: 10px;
  color: $contrast-text-color;
  transition: color 0.3s, opacity 0.3s ease-in-out;

  &:hover {
    opacity: 0.7;
  }
}

.title {
  margin: 0 0 20px;
  @include font(16px, 19px, 500);
}

.text {
  text-decoration: none;
  max-width: fit-content;
  color: $contrast-text-color;
  @include font(14px, 16px, 400);

  @media screen and (max-width: 768px) {
    margin-top: 8px;
  }
}
