@import '../../../utils/_scss-variables.scss';

.main {
  padding-top: 80px;
  padding-bottom: calc(100vh / 9);
  background-color: $main-bg-color;
  flex: 1;

  &_container {
    @include flex(column, flex-start, flex-start);
    gap: 20px;
  }
}

.section {
  @include flex(row, flex-start, flex-start);
  gap: 29px;
}

.profile_data {
  width: 270px;
}

.remove {
  background-image: url(../../../images/icons/clear-field.svg);
  width: 18px;
  height: 18px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border: none;
  background-color: transparent;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;

  &_none {
    display: none;
  }
}

.button {
  @include font(16px, 22px, 400);
  width: 100%;
  height: 46px;
  letter-spacing: -0.01em;
  padding: 10px 23px;
  border-radius: 10px;
}

.inputs {
  @include flex(column, flex-start, _);
  margin-bottom: 45px;
  gap: 25px;
}

.input_container {
  position: relative;

  &:not(:last-child) {
    margin-bottom: 20px;
  }
}
