@import '../../../utils/_scss-variables.scss';

.profile {
  flex: 1;

  &_container {
    
    padding-top: 80px;
    padding-bottom: 80px;
    background-color: $main-bg-color;
    @include flex(column, flex-start, flex-start);
    gap: 20px;

    @media screen and (max-width: 768px) {
      max-width: fit-content;
      padding-top: 24px;
      padding-bottom: 64px;
      margin: 0 auto;
    }
  }
}

.section {
  @include flex(row, flex-start, flex-start);
  gap: 29px;
  width: fit-content;
  @media screen and (max-width: 605px) {
    flex-direction: column;

    width: 100%;
  }
}

.profile_data {
  width: 270px;
}

.remove {
  background-image: url(../../../images/icons/clear-field.svg);
  width: 18px;
  height: 18px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border: none;
  background-color: transparent;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;

  &_none {
    display: none;
  }
}

.button {
  @include font(16px, 22px, 400);
  width: 100%;
  height: 46px;
  letter-spacing: -0.01em;
  padding: 10px 23px;
  border-radius: 10px;

  @media screen and (max-width: 420px) {
    width: 100%;
  }
}

.inputs {
  @include flex(column, flex-start, start);
  margin-bottom: 45px;
  gap: 25px;

  @media screen and (max-width: 605px) {
    gap: 20px;
    margin-bottom: 19px;
  }
}

.input_container {
  position: relative;

  &:not(:last-child) {
    margin-bottom: 20px;
  }
}

.additional {
  @include flex(column, flex-start, start);
  gap: 10px;
  &_text {
    font-size: 14px;
  }
}

.underline {
  font-size: 14px;
  margin: 0;
}
