@import '../../../assets/styles/_scss-variables.scss';

.page {
  width: 100%;
  height: 100vh;
  padding: 30px;
  box-sizing: border-box;
  @include flex(row, center, center);
  gap: 100px;
  background: linear-gradient(180deg, #1a3263 0%, #0a1730 100%);

  @media screen and (max-width: 980px) {
    @include flex(column, center, center);
  }
}

.container {
  max-width: 350px;
  text-align: center;
  @include flex(column, center, center);
  gap: 20px;
  position: relative;
}

.text {
  color: white;
  line-height: 1.3;
}

.button {
  background-color: white;
  color: $secondary-text-color;
  font-size: 18px;
  font-weight: 500;
  z-index: 2;
}

.images {
  @include flex(row, center, center);
  gap: 10px;
  margin-bottom: 30px;
}

.image {
  width: 180px;
  height: 250px;
  background: url('../../../images/alien-dog.png') center no-repeat;
  background-size: contain;

  @media screen and (max-width: 600px) {
    max-width: 150px;
    max-height: 200px;
  }

  @media screen and (max-width: 450px) {
    max-width: 115px;
    max-height: 150px;
  }
}

.four {
  width: 94px;
  height: 100px;
  background-image: url('../../../images/four.svg');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;

  @media screen and (max-width: 600px) {
    max-width: 90px;
    max-height: 90px;
  }

  @media screen and (max-width: 450px) {
    max-width: 75px;
  }
}
