@import '../../../utils/_scss-variables.scss';

.policy {
  flex: 1;

  &_container {
    padding-top: 80px;
    padding-bottom: 80px;
    background-color: $main-bg-color;
    @include flex(column, flex-start, flex-start);
    gap: 20px;
  }
}

.content {
  @include flex(row, flex-start, flex-start);
  gap: 30px;
  height: 100%;
  position: relative;
}

.title {
  &_section {
    font-size: 20px;
  }
}

.text {
  text-align: justify;
}

.menu {
  position: sticky;
  top: 135px;
  z-index: 3;
  height: 100%;
  width: fit-content;
  min-width: 350px;
  border-left: 1px solid $element-active-color;
  @include flex(column, flex-start, flex-start);
  gap: 18px;

  &_item {
    height: fit-content;
    width: fit-content;
    padding: 0 0 0 30px;
    font-weight: 500;
  }

  @media screen and (max-width: 1100px) {
    display: none;
  }
}
