@import '../../../utils/_scss-variables';

.form {
  @include flex(column, _, _);
  gap: 25px;
  box-sizing: border-box;
}

.button {
  margin-top: 20px;
}

.password {
  font-weight: 700;
  font-family: Verdana;
}
