@import '@styles/_scss-variables.scss';

.form {
  @include flex(column, flex-start, flex-start);
  gap: 40px;
  box-sizing: border-box;
}

.inputs {
  @include flex(column, flex-start, flex-start);
  gap: 14px;
}

.password {
  font-weight: 700;
  font-family: Verdana;
}

.button {
  padding: 14px 15px;
}
