@import './vendor/normalize.scss';
@import './utils/scss-variables';
@import './vendor/fonts/fonts';

body {
  margin: 0;
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
