@import './vendor/normalize.scss';
@import './utils/_scss-variables.scss';

$nunito-path: "./vendor/fonts/Nunito";
$play-path: "./vendor/fonts/Play";

@font-face {
  font-family: "Nunito";
  font-weight: 400;
  src: url("#{$nunito-path}/Nunito-Regular.ttf") format('truetype');
}

@font-face {
  font-family: "Nunito";
  font-weight: 700;
  src: url("#{$nunito-path}/Nunito-Bold.ttf") format('truetype');
}

@font-face {
  font-family: "Play";
  font-weight: 400;
  src: url("#{$play-path}/Play-Regular.ttf") format('truetype');
}

@font-face {
  font-family: "Play";
  font-weight: 700;
  src: url("#{$play-path}/Play-Bold.ttf") format('truetype');
}


body {
  margin: 0;
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}